@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap";
@import "https://fonts.googleapis.com/css?family=Radley&display=swap";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
}

.header.box-shadow {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.header {
  background-color: #ffffff;
  color: #484848;
}
.header nav {
  padding-left: 0;
  padding-right: 0;
}
.header .navbar-brand {
  padding: 0;
}
@media (max-width: 767px) {
  .header .navbar-brand img {
    width: 80%;
    padding-left: 1rem;
  }
}
.header .navbar-toggler-icon {
  color: #a2171c;
  font-size: 30px;
  width: unset;
  height: unset;
}
.header .navbar-toggler {
  padding-right: 1rem;
}
.header #menu {
  margin-top: 2rem;
}
.header #menu a {
    text-decoration: none;
  padding-left: 2rem;
  padding-bottom: 0.6rem;
  color: #484848;
}
.header #menu a:hover {
  color: #a2171c;
}
.header #menu a.active {
  color: #a2171c;
}
@media (max-width: 767px) {
  .header #menu a {
    float: right;
    padding: 2rem 1rem 2rem 0;
  }
}

.banner {
  margin-top: 6rem;
}
@media (max-width: 767px) {
  .banner {
    margin-top: 5rem;
  }
}
.banner .img-mobile {
  display: none;
}
@media (max-width: 767px) {
  .banner .img-desktop {
    display: none;
  }
  .banner .img-mobile {
    display: unset;
  }
}

.body {
  /* =====================================general-class-start========================================= */
  /* ========================================general-class-end======================================= */
}
.body nav {
  padding-top: 3rem;
}
@media (max-width: 767px) {
  .body nav {
    padding-top: 2.5rem;
  }
}
.body #button {
  transform-origin: 68% 0;
  transform: rotate(-90deg);
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .body #button {
    transform-origin: 84% 30%;
  }
}
.body #button #btn-btn {
  padding: unset;
  border-radius: 0.75rem 0.75rem 0 0;
  font-size: 16px;
  background-color: #a2171c;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  width: 12.5rem;
  height: 4rem;
}
@media (max-width: 767px) {
  .body #button #btn-btn {
    height: 2.857rem;
  }
}
.body #button #btn-btn:hover {
  background-color: #ffffff;
  border: #a2171c solid 1px;
  color: #a2171c;
}
.body #button #btn-btn i {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.body #breadcrumb-me {
  background: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #b1b1b1;
}
.body #breadcrumb-me .breadcrumb-item + .breadcrumb-item::before {
  content: "-";
}
.body #breadcrumb-me a {
  color: #b1b1b1;
}
.body #breadcrumb-me li.active {
  color: #a2171c;
}
.body #breadcrumb-me a.active::before {
  color: #b1b1b1;
  content: " - ";
  padding: 0 1rem;
}
@media (max-width: 767px) {
  .body #breadcrumb-me {
    padding: 0 1rem;
  }
}
.body .about-us-page nav {
  padding: 3rem 0;
}
.body .about-us-page .catalog .established p {
  line-height: 1.52;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #000000;
}
@media (max-width: 767px) {
  .body .about-us-page .catalog .established img {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}
.body .about-us-page .catalog .services {
  margin-top: -10rem;
}
.body .about-us-page .catalog .services h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 5rem 0;
}
.body .about-us-page .catalog .services #row-services {
  padding-bottom: 3rem;
}
@media (max-width: 767px) {
  .body .about-us-page .catalog .services #row-services {
    padding-bottom: 5rem;
  }
}
.body .about-us-page .catalog .services #row-services .frame-col {
  line-height: 1.52;
}
.body .about-us-page .catalog .services #row-services .frame-col .card {
  border: 0;
}
.body .about-us-page .catalog .services #row-services .frame-col .card .card-body {
  padding: 0;
}
.body .about-us-page .catalog .services #row-services .frame-col .card .card-body h5 {
  font-size: 16px;
  color: #a2171c;
  padding: 0;
  font-weight: bold;
  margin-top: 1.785rem;
  margin-bottom: 1rem;
}
.body .about-us-page .catalog .services #row-services .frame-col .card .card-body p {
  color: #333333;
  font-size: 14px;
  margin: 0;
  padding: 0 4rem 0 0;
}
@media (max-width: 767px) {
  .body .about-us-page .catalog .services {
    margin-top: unset;
  }
  .body .about-us-page .catalog .services h5 {
    padding: unset;
  }
  .body .about-us-page .catalog .services img {
    padding-top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .body .about-us-page .catalog .services h5 {
    padding-top: 10.5rem;
  }
}
.body .about-us-page .logan {
  padding: 3rem 0;
  background-color: #a2171c;
  height: auto;
  color: #ffffff;
  text-align: center;
  line-height: 1.52;
}
.body .about-us-page .logan sup {
  font-size: 60px;
  position: relative;
  top: 1rem;
}
.body .about-us-page .logan sup#open {
  top: 1.5rem;
  right: 0.5rem;
}
@media (max-width: 767px) {
  .body .about-us-page .logan sup#open {
    top: 0.5rem;
  }
}
.body .about-us-page .logan sup#close {
  top: 3rem;
  right: 0.5rem;
}
@media (max-width: 767px) {
  .body .about-us-page .logan sup#close {
    top: 3.5rem;
    right: 0;
  }
}
.body .about-us-page .logan h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 767px) {
  .body .about-us-page .logan {
    padding: 4.5rem;
  }
  .body .about-us-page .logan h3 {
    font-weight: normal;
  }
}
.body .about-us-page .at-stafflink {
  padding: 3rem 0;
  font-size: 16px;
  line-height: 1.52;
  color: #000000;
  margin: 0;
}
.body .about-us-page .at-stafflink p {
  margin: 0;
}
@media (max-width: 767px) {
  .body .about-us-page .at-stafflink {
    padding: 3rem 1rem;
  }
}
.body .about-us-page .feedback {
  background: url(../img/bg-feedback.png) no-repeat 100% 0;
  padding: 5rem 0;
  color: #000000;
  background-size: cover;
}
.body .about-us-page .feedback h5 {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 2.715rem;
}
.body .about-us-page .feedback .carousel-indicators {
  position: relative;
  padding: 0;
  margin: 2rem 0 0;
}
.body .about-us-page .feedback .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10rem;
  border: solid 1px #b1b1b1;
}
.body .about-us-page .feedback .carousel-indicators li.active {
  background: #333333;
}
.body .about-us-page .feedback q.quote {
  font-family: "Radley", sans-serif;
  font-size: 20px;
}
.body .about-us-page .feedback #read-testimonials {
  border-radius: 0;
  border: solid 1px #000000;
  font-weight: 600;
  font-size: 1.2rem;
}
.body .about-us-page .feedback #read-testimonials:hover {
  background-color: #a2171c;
}
.body .about-us-page .feedback #read-testimonials:hover p {
  color: #ffffff;
}
.body .about-us-page .feedback #read-testimonials a {
  text-decoration: none;
}
.body .about-us-page .feedback #read-testimonials p {
  color: #000000;
  margin: 0;
  padding: 0.35rem 0.55rem;
}
@media (max-width: 991px) {
  .body .about-us-page .feedback #read-testimonials {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .body .about-us-page .feedback {
    padding: 5.8rem 1rem;
    background: url(../img/bg-feedback-mobile.png) no-repeat 100% 0;
  }
}
@media (max-width: 767px) {
  .body .about-us-page nav {
    padding: 2.285rem 0;
  }
  .body .about-us-page .catalog {
    padding: 0 1rem;
  }
}
.body .home-page {
  margin-top: 6rem;
}
@media (max-width: 767px) {
  .body .home-page {
    margin-top: 5rem;
  }
}
.body .home-page .slide .img-mobile {
  display: none;
}
.body .home-page .slide .carousel-caption {
  bottom: 40%;
  font-size: 35px;
  color: #333333;
  letter-spacing: 5.25px;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Lato", serif;
}
.body .home-page .slide .carousel-indicators {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .body .home-page .slide .carousel-indicators {
    margin: 0 2rem 1rem;
  }
}
.body .home-page .slide .carousel-indicators li {
  background-color: #b1b1b1;
  width: 10px;
  height: 10px;
  border-radius: 10rem;
  border: solid 1px #b1b1b1;
}
@media (max-width: 767px) {
  .body .home-page .slide .carousel-indicators li {
    width: 12px;
    height: 12px;
  }
}
.body .home-page .slide #slide li.active {
  background-color: #a2171c;
}
@media (max-width: 767px) {
  .body .home-page .slide .img-mobile {
    display: unset;
  }
  .body .home-page .slide .img-desktop {
    display: none;
  }
  .body .home-page .slide .carousel-caption {
    font-size: 25px;
    letter-spacing: 3.75px;
  }
}
.body .home-page .emp-job {
  background: url(../img/bg-emp-job.png) no-repeat center;
  background-size: cover;
  padding: 4rem 0;
  color: #333333;
}
@media (max-width: 767px) {
  .body .home-page .emp-job {
    padding: 2.2rem 0;
  }
}
.body .home-page .emp-job h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.body .home-page .emp-job p {
  margin-bottom: 1.857rem;
  font-size: 16px;
}
@media (max-width: 767px) {
  .body .home-page .emp-job p {
    margin-bottom: 1rem;
  }
}
.body .home-page .emp-job .empjob {
  border: 0;
  background-color: inherit;
}
.body .home-page .emp-job .empjob .body {
  text-align: center;
  padding: 3rem 1rem 1rem;
}
@media (max-width: 767px) {
  .body .home-page .emp-job .empjob .body .card-text {
    padding: 0 4rem;
  }
  .body .home-page .emp-job .empjob .body .card-text br {
    display: none;
  }
}
.body .home-page .emp-job .empjob .body #emp-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: inherit;
  border: solid 1px #828282;
  color: #828282;
  border-radius: 0;
  padding: 0.8rem 2rem;
}
.body .home-page .emp-job .empjob .body #emp-btn:hover {
  border: solid 1px #a2171c;
  color: #a2171c;
}
.body .home-page .emp-job .empjob .body #job-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: inherit;
  color: #828282;
  border: solid 1px #828282;
  border-radius: 0;
  padding: 0.8rem 2rem;
}
@media (max-width: 767px) {
  .body .home-page .emp-job .empjob .body #job-btn {
    margin-bottom: 1.5rem;
  }
}
.body .home-page .emp-job .empjob .body #job-btn:hover {
  border: solid 1px #a2171c;
  color: #a2171c;
}
.body .home-page .emp-job .empjob .img {
  margin: auto;
  padding-top: 1.8rem;
}
.body .home-page .emp-job .empjob #emp-img::after {
  background: url(../img/emp-vector.png) top no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 6px;
  bottom: 0;
  content: "";
  height: 20rem;
}
.body .home-page .emp-job .empjob #job-img::after {
  background: url(../img/job-vector.png) top no-repeat;
  position: absolute;
  left: 6px;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 20rem;
}
@media (max-width: 767px) {
  .body .home-page .emp-job #job {
    margin-top: 2.5rem;
  }
  .body .home-page .emp-job .btn {
    width: 100%;
  }
}
.body .home-page .mission-vision {
  background: url(../img/backgroud-mission-vision.png) no-repeat fixed center;
  padding: 6.25rem 0;
  background-size: cover;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.51;
}
.body .home-page .mission-vision img {
  margin-right: 1.5rem;
}
.body .home-page .mission-vision h5 {
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .body .home-page .mission-vision {
    text-align: center;
    padding: 5rem 0;
  }
  .body .home-page .mission-vision .media {
    display: block;
    padding: 0 1rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .body .home-page .mission-vision .media .media-body {
    padding: 0 1.5rem !important;
  }
}
@media (max-width: 767px) {
  .body .home-page .mission-vision img {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767px) {
  .body .home-page .mission-vision .media-vision {
    padding-top: 5.5rem;
  }
}
@media (max-width: 767px) {
  .body .home-page .mission-vision h5 {
    font-size: 16px;
    font-weight: bold;
  }
}
.body .home-page .about-us {
  background-image: url(../img/about-us.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.143rem 0 7rem;
  color: #ffffff;
  line-height: 1.5;
  background-attachment: fixed;
  background-position: center;
}
.body .home-page .about-us h5 {
  font-weight: 600;
  font-size: 22px;
}
.body .home-page .about-us #about-us-description {
  padding: 2rem 0 2rem 0;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 767px) {
  .body .home-page .about-us #about-us-description {
    font-size: 16px;
  }
}
.body .date {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: #333333;
}
.body .date i {
  font-size: 30px;
  color: #a2171c;
}
.body .date span {
  font-size: 14px;
  line-height: 0.91;
}
.body .form-box {
  border-radius: 10px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 14px;
  color: #333333;
  padding: 1.5rem 1.8rem;
}
.body .form-box input.form-control {
  color: #828282;
  border: solid 1px #e5e5e5;
  height: 40px;
}
.body .form-box .box-title {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}
.body .form-box .box-title h4 {
  margin: 0;
  color: #333333;
  padding-left: 1rem;
  font-size: 16px;
  font-weight: bold;
}
.body .form-box .box-title .box-icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #a2171c;
  color: #ffffff;
  display: flex;
}
.body .form-box .box-title .box-icon i {
  font-size: 25px;
  margin: auto;
}
.body .form-box label#is-required {
  float: right;
  font-size: 12px;
  color: #828282;
}
.body .form-box label#is-required::before {
  content: " *";
  color: #a2171c;
}
.body .form-box label.required::after {
  content: "* ";
  color: #a2171c;
}
.body .form-box .select2-container {
  width: 100% !important;
}
.body .form-box .select2-container .select2-selection--single {
  border: 1px solid #e5e5e5;
  height: 40px;
}
.body .form-box .select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
  padding-bottom: 5px;
}
.body .form-box .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 0;
}
.body .form-box .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #828282;
}
.body .form-box .select2-selection__arrow b {
  border: none !important;
}
.body .form-box .select2-selection__arrow b:before {
  position: relative;
  top: 7px;
  right: 10px;
  content: "";
  font-family: "Line Awesome Free", sans-serif;
  font-size: 18px;
}
.body .form-box input.custom-file-input {
  height: 40px;
}
.body .form-box .custom-file .custom-file-label {
  height: 40px;
  padding-top: 0.5rem;
    top: 28px;
}
.body .form-box .custom-file .custom-file-label:after {
  content: "Browser";
  color: #a2171c;
  font-size: 14px;
  background-color: initial;
  border: initial;
  padding-top: 0.5rem;
}
.body .form-box .custom-file span {
  font-size: 12px;
  color: #828282;
}
.body .form-box button {
  border-radius: 0;
  border: solid 1px #a2171c;
  background-color: initial;
  color: #a2171c;
  font-weight: bold;
  margin-top: 0.5rem;
}
.body .form-box button:hover {
  background-color: #a2171c;
  color: #ffffff;
}
.body .form-box button i {
  padding-left: 1rem;
}
.body .has-error {
    color: #a2171c;
}
.body .has-error label {
    color: #a2171c;
    font-weight: 600;
}
.body .has-error input.form-control, .body .has-error .custom-file-label {
    border-color: #a2171c;
}
.body .has-error span span span {
    border-color: #a2171c !important;
}
.body .has-error span span span span.select2-selection__rendered {
    color: #a2171c !important;
}
.body .has-success label {
    font-weight: 600;
    color: #3c763d;
}
.body .has-success input.form-control {
    border-color: #3c763d;
}
.body .has-success span span span {
    border-color: #3c763d !important;
}
.body .has-success span span span span.select2-selection__rendered {
    color: #3c763d !important;
}
.body .jobseekers-page {
  line-height: 1.5;
}
.body .jobseekers-page h3 {
  color: #333333;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .body .jobseekers-page h3 {
    padding: 0.5rem 1rem;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .body .jobseekers-page .jobseekers-page-head {
    padding: 0 1rem 1rem;
  }
}
.body .jobseekers-page .jobseekers-page-head .grid {
  display: grid;
  grid-template-columns: 25% 20% 20% 15% 15%;
  grid-column-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-head .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1rem;
  }
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-head .grid .job-title {
    grid-column: 1/4;
    grid-row: 1;
  }
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-head .grid .classification {
    grid-column: 1/4;
    grid-row: 2;
  }
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-head .grid .job-type {
    grid-column: 1/span 2;
    grid-row: 3;
  }
}
.body .jobseekers-page .jobseekers-page-head .grid .deposit-resume .item {
  grid-column: 2/7;
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-head .grid .deposit-resume {
    grid-column: 1/4;
    grid-row: 4;
    display: unset;
  }
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-head .grid .btn-action {
    grid-column: 3/4;
    grid-row: 3;
    display: flex;
    justify-content: center;
  }
}
.body .jobseekers-page .jobseekers-page-head .grid .btn-action .btn-redo {
  border-radius: 50%;
  background-color: #828282;
  color: #ffffff;
  font-size: 18px;
  width: 40px;
}
.body .jobseekers-page .jobseekers-page-head .grid .btn-action .btn-redo:hover {
  background-color: #333333;
}
.body .jobseekers-page .jobseekers-page-head .grid .btn-action .btn-search {
  border-radius: 50%;
  background-color: #a2171c;
  color: #ffffff;
  font-size: 18px;
  width: 40px;
  margin-left: 1rem;
}
.body .jobseekers-page .jobseekers-page-head .grid .btn-action .btn-search:hover {
  background-color: red;
}
.body .jobseekers-page .jobseekers-page-head .grid .btn-deposit-resume {
  border: solid 1px #a2171c;
  background-color: initial;
  color: #a2171c;
  font-weight: bold;
  border-radius: 0;
  width: 100%;
  height: 40px;
}
.body .jobseekers-page .jobseekers-page-head .grid .btn-deposit-resume:hover {
  background-color: #a2171c;
  color: #ffffff;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container .select2-selection--single {
  height: 40px;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  color: #828282;
  font-size: 14px;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container .select2-selection--single .select2-selection__rendered:before {
  color: #a2171c;
  content: "";
  font-family: "Line Awesome Free", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
}
.body .jobseekers-page .jobseekers-page-head .grid .job-type .select2-container .select2-selection--single .select2-selection__rendered::before {
  content: "";
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container--default .select2-selection--single {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 20%;
  right: 5px;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-family: "Line Awesome Free", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.body .jobseekers-page .jobseekers-page-head .grid .select2-selection__placeholder {
  color: #828282;
}
.body .jobseekers-page .jobseekers-page-head .grid #row-search {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.body .jobseekers-page .jobseekers-page-head .grid .form-group {
  margin: 0;
}
.body .jobseekers-page .jobseekers-page-head .grid .input-group {
  height: 40px;
}
.body .jobseekers-page .jobseekers-page-head .grid .input-group .input-group-prepend span {
  background-color: initial;
  color: #a2171c;
  font-size: 18px;
}
.body .jobseekers-page .jobseekers-page-head .grid .input-group .input-group-prepend {
  border-radius: 5px 0 0 5px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  border-right: 0;
}
.body .jobseekers-page .jobseekers-page-head .grid input.form-control {
  border-radius: 0 5px 5px 0;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  color: #828282;
  height: auto;
  font-size: 14px;
  padding-left: 0;
}
.body .jobseekers-page .jobseekers-page-head .grid .input-group-text {
  border: 0;
}
.body .jobseekers-page .jobseekers-page-data {
  background-color: #f8f8f8;
}
.body .jobseekers-page .jobseekers-page-data a.job-item {
  text-decoration: none;
  border-bottom: #e0e0e0 dashed 1px;
  color: #333333;
  display: block;
  padding: 1.5rem 1rem 1.7rem 1rem;
}
.body .jobseekers-page .jobseekers-page-data a.job-item:hover .col-date .date span {
    color: #a2171c;
}
.body .jobseekers-page .jobseekers-page-data a.job-item:hover .col-title .title span {
    color: #a2171c;
}
.body .jobseekers-page .jobseekers-page-data a.job-item:hover .col-location span {
  color: #a2171c;
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-date .date {
  padding-top: 0;
  padding-bottom: 0;
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-date .date i {
  font-size: 18px;
  color: #a2171c;
  padding-right: 1rem;
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-date .date span {
  font-size: 16px;
  color: #484848;
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-data a.job-item .col-date {
    order: 1;
  }
  .body .jobseekers-page .jobseekers-page-data a.job-item .col-date .date {
    padding: 1rem 0 0.5rem;
  }
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-title {
  color: #000000;
  font-size: 16px;
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-title .title:before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.1rem;
  border: #a2171c solid 4px;
  border-radius: 50%;
  background-color: #a2171c;
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-location {
  display: flex;
  justify-content: center;
  color: #333333;
}
@media (max-width: 991px) {
  .body .jobseekers-page .jobseekers-page-data a.job-item .col-location {
    order: 2;
    justify-content: flex-end;
  }
  .body .jobseekers-page .jobseekers-page-data a.job-item .col-location .location {
    padding: 1rem 0 0.5rem;
  }
}
@media (max-width: 767px) {
  .body .jobseekers-page .jobseekers-page-data a.job-item .col-location {
    justify-content: center;
  }
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-location i {
  font-size: 18px;
  color: #a2171c;
  padding-right: 0.5rem;
}
.body .jobseekers-page .jobseekers-page-data a.job-item .col-location span {
  font-size: 16px;
  color: #484848;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination {
  display: flex;
  justify-content: center;
  padding: 2.75rem 0 4.25rem 0;
    margin-bottom: 0;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination a {
    color: #333;
    text-decoration: none;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
    height: 30px;
    width: 30px;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination li:hover a {
  color: #a2171c;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination li.active a {
  color: #bdbdbd;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination .pagination-arrow {
  border-radius: 50%;
  background-color: #a2171c;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination .pagination-arrow a {
  color: #fff;
}
.body .jobseekers-page .jobseekers-page-data ul.pagination .pagination-arrow:hover {
  background-color: red;
}
.body .jobseeker-detail-page {
  padding-top: 6rem;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.body .jobseeker-detail-page nav {
  padding-top: 2.857rem;
  padding-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page nav #breadcrumb-me {
    padding-left: 0;
  }
}
.body .jobseeker-detail-page a {
  display: inline-flex;
  align-items: center;
  color: #a2171c;
  text-decoration: none;
}
.body .jobseeker-detail-page a#back-to-list:hover {
  color: red;
}
.body .jobseeker-detail-page h3 {
  font-size: 25px;
  color: #a2171c;
  font-weight: 600;
  margin: 1rem 0;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page h3 {
    font-size: 22px;
  }
}
.body .jobseeker-detail-page .job-detail-col {
  padding-right: 1.5rem;
  color: #000000;
  font-size: 16px;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page .job-detail-col {
    padding-right: 1rem;
  }
}
.body .jobseeker-detail-page .job-detail-col ul {
  padding-left: 1rem;
}
.body .jobseeker-detail-page .job-detail-col li span {
  position: relative;
  left: -5px;
}
.body .jobseeker-detail-page .job-detail-col h4 {
  font-weight: bold;
  padding: 0.5rem 0;
  font-size: 16px;
}
.body .jobseeker-detail-page .job-inf-row h4 {
  font-weight: bold;
  font-size: 16px;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page .job-inf-row h4 {
    margin: 0;
  }
}
.body .jobseeker-detail-page .job-inf-row h5 {
  font-size: 16px;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page .job-inf-row h5 {
    margin-bottom: 1rem;
  }
}
.body .jobseeker-detail-page .action-personnel-row .icon-row {
  display: flex;
  justify-content: flex-end;
}
.body .jobseeker-detail-page .action-personnel-row .icon-row a {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  border: solid 1px #b1b1b1;
  background-color: #f8f8f8;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0;
}
.body .jobseeker-detail-page .action-personnel-row .icon-row a:hover {
  border: solid 1px #a2171c;
}
.body .jobseeker-detail-page .action-personnel-row .icon-row .la-print {
  color: #346979;
}
.body .jobseeker-detail-page .action-personnel-row .personnel-row {
  display: block;
  height: 5rem;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  background-color: #f8f8f8;
  margin: 1rem 0;
  padding: 1rem 0 1rem 1rem;
  font-size: 14px;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page .action-personnel-row .personnel-row {
    margin-bottom: 2rem;
  }
}
.body .jobseeker-detail-page .action-personnel-row .personnel-row p {
  margin: 0;
}
.body .jobseeker-detail-page #apply-this-job {
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page #apply-this-job {
    margin-bottom: 1rem;
  }
}
.body .jobseeker-detail-page .note {
  padding-right: 2rem;
}
@media (max-width: 767px) {
  .body .jobseeker-detail-page .note {
    padding-bottom: 3rem;
    padding-right: 1rem;
  }
  .body .jobseeker-detail-page .note br {
    display: none;
  }
}
.body .jobseeker-detail-page .note p {
  line-height: 1.52;
  color: #828282;
  font-size: 12px;
  margin: 1rem 0;
}
.body .jobseeker-detail-page .note a {
  font-size: 0.75rem;
  color: #a2171c;
  padding: 0;
}
.body .jobseeker-detail-page .note a:hover {
  text-decoration: underline;
}
.body .newsroom-page nav {
  padding-top: 3rem;
  padding-bottom: 1.57rem;
}
@media (max-width: 991px) {
  .body .newsroom-page nav {
    padding-top: 2.3rem;
    padding-bottom: 0;
  }
}
.body .newsroom-page .list-newsroom {
  padding: 0 0 5rem 0;
}
@media (max-width: 991px) {
  .body .newsroom-page .list-newsroom {
    padding: 0.7rem 1rem 4rem;
  }
  .body .newsroom-page .list-newsroom .media {
    display: block;
  }
  .body .newsroom-page .list-newsroom .media img {
    display: none;
  }
}
.body .newsroom-page .list-newsroom .newsroom-row a {
  text-decoration: none;
  border-bottom: #e0e0e0 dashed 1px;
  padding: 1.43rem 0;
  color: #333333;
}
@media (max-width: 767px) {
  .body .newsroom-page .list-newsroom .newsroom-row a {
    padding: 2rem 0;
  }
}
.body .newsroom-page .list-newsroom .newsroom-row a:hover span {
  color: #a2171c;
}
.body .newsroom-page .list-newsroom .newsroom-row a h5 {
  color: #a2171c;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: unset;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (max-width: 767px) {
  .body .newsroom-page .list-newsroom .newsroom-row a h5 {
    margin: 1.5rem 0;
    -webkit-line-clamp: 2;
  }
}
.body .newsroom-page .list-newsroom .newsroom-row a span {
  color: #333333;
  font-size: 14px;
}
.body .newsroom-page .list-newsroom .newsroom-row a .date {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.body .newsroom-page .list-newsroom .newsroom-row a .date i {
  font-size: 20px;
}
@media (max-width: 767px) {
  .body .newsroom-page .list-newsroom .newsroom-row a .date i {
    font-size: 50px;
  }
  .body .newsroom-page .list-newsroom .newsroom-row a .date span {
    font-size: 18px;
  }
}
.body .newsroom-page .list-newsroom .newsroom-row a .date-mobile {
  display: none;
}
@media (max-width: 767px) {
  .body .newsroom-page .list-newsroom .newsroom-row a .date-desktop {
    display: none;
  }
  .body .newsroom-page .list-newsroom .newsroom-row a .date-mobile {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.body .newsroom-page .list-newsroom .pagination {
  display: flex;
  justify-content: center;
}
.body .newsroom-page .list-newsroom .pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333333;
  height: 30px;
  width: 30px;
}
.body .newsroom-page .list-newsroom .pagination a:hover {
  color: #a2171c;
}
.body .newsroom-page .list-newsroom .pagination a.active {
  color: #bdbdbd;
}
.body .newsroom-page .list-newsroom .pagination a.pagination-arrow {
  color: #ffffff;
  border-radius: 50%;
  background-color: #a2171c;
}
.body .newsroom-page .list-newsroom .pagination a.pagination-arrow:hover {
  background-color: red;
}
.body .newsroom-detail-page {
  padding-top: 6rem;
}
.body .newsroom-detail-page nav {
  padding-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .body .newsroom-detail-page {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .body .newsroom-detail-page nav {
    padding-bottom: 0.5rem;
  }
}
.body .newsroom-detail-page h3 {
  margin: 0;
  font-size: 20px;
  color: #a2171c;
  font-weight: bold;
}
.body .newsroom-detail-page .newsroom-detail-col {
  padding-bottom: 10rem;
  padding-right: 3rem;
}
@media (max-width: 767px) {
  .body .newsroom-detail-page .newsroom-detail-col {
    padding-right: 0;
    padding-bottom: 4rem;
  }
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row a {
  display: inline-flex;
  align-items: center;
  color: #a2171c;
  text-decoration: none;
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row a:hover {
  color: red;
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-row {
  display: inline-flex;
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-row a {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  border: solid 1px #b1b1b1;
  background-color: #f8f8f8;
  justify-content: center;
  margin: 0 0.5rem;
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-row a:hover {
  color: #a2171c;
  border: solid 1px #a2171c;
}
@media (max-width: 767px) {
  .body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-row a {
    margin: 0;
  }
}
.body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-mobile {
  display: none;
}
@media (max-width: 767px) {
  .body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-desktop {
    display: none;
  }
  .body .newsroom-detail-page .newsroom-detail-col .back-to-list-row .icon-mobile {
    display: unset;
  }
}
.body .newsroom-detail-page .newsroom-detail-col h4 {
  font-size: 14px;
  color: #333333;
  margin: 0;
  padding: 0.5rem 0;
}
.body .newsroom-detail-page .newsroom-detail-col h5 {
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding: 1rem 0;
}
.body .newsroom-detail-page .related-post {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .body .newsroom-detail-page .related-post {
    padding: 0 1rem 10rem;
  }
}
.body .newsroom-detail-page .related-post h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 1.5rem;
}
.body .newsroom-detail-page .related-post .date {
  padding-top: 0.57rem;
  padding-bottom: 2.143rem;
}
.body .newsroom-detail-page .related-post a {
  text-decoration: none;
}
.body .newsroom-detail-page .related-post a h3 {
  font-size: 14px;
  font-weight: bold;
}
.body .newsroom-detail-page .related-post a h3:hover {
  color: red;
}
.body .contact-us-page {
  line-height: 1.5;
}
.body .contact-us-page h3 {
  font-weight: bold;
  font-size: 35px;
  color: #333333;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .body .contact-us-page h3 {
    font-size: 40px;
    padding: 0 1rem;
  }
}
.body .contact-us-page h4 {
  font-size: 14px;
  color: #000000;
  padding: 1.5rem 0;
  margin: 0;
}
@media (max-width: 767px) {
  .body .contact-us-page h4 {
    padding: 2.5rem 1rem;
  }
}
.body .contact-us-page .box-title h4 {
  padding-bottom: 0;
  padding-top: 0;
}
.body .contact-us-page .row-contact-us {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  .body .contact-us-page .row-contact-us {
    padding: 0 1rem 4rem 1rem;
  }
}
.body .contact-us-page .row-contact-us #general-enquiry {
  padding-bottom: 2.5rem;
}
.body .contact-us-page .row-contact-us .col-inf-detail {
  padding-top: 1.5rem;
}
@media (max-width: 767px) {
  .body .contact-us-page .row-contact-us .col-inf-detail {
    padding-top: 4rem;
  }
}
.body .contact-us-page .row-contact-us .col-inf-detail .row-inf {
  margin: 0 0 2.14rem;
}
.body .contact-us-page .row-contact-us .col-inf-detail .row-inf h5 {
  font-size: 16px;
  font-weight: bold;
  color: #a2171c;
  margin: 0;
}
@media (max-width: 767px) {
  .body .contact-us-page .row-contact-us .col-inf-detail .row-inf h5 {
    padding-top: 0.5rem;
  }
}
@media (max-width: 767px) {
  .body .contact-us-page .row-contact-us .col-inf-detail .row-inf h5#main-line {
    padding-top: 1.5rem;
  }
}
.body .contact-us-page .row-contact-us .col-inf-detail .row-inf h5#fax {
  padding-top: 0.5rem;
}
.body .contact-us-page .row-contact-us .col-inf-detail .row-inf h6 {
  margin: 0;
  font-size: 16px;
  color: #000000;
}
.body .contact-us-page .row-contact-us .col-inf-detail .row-map {
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .body .contact-us-page .row-contact-us .col-inf-detail .row-map {
    margin-top: 4rem;
  }
}
.body .contact-us-page .row-contact-us .col-inf-detail .row-map #map {
  height: 39.7rem;
  width: 100%;
}
@media (max-width: 767px) {
  .body .contact-us-page .row-contact-us .col-inf-detail .row-map #map {
    height: 30rem;
  }
}
.body .employers-page {
  background: url(../img/bg-employers.png) no-repeat 100% 0;
  margin-top: 2.357rem;
  padding-bottom: 7.285rem;
  background-size: cover;
}
@media (max-width: 767px) {
  .body .employers-page {
    margin-top: 2rem;
  }
}
.body .employers-page h5 {
  font-size: 14px;
  color: #000000;
  padding: 3.2rem 0;
  margin: 0;
}
@media (max-width: 767px) {
  .body .employers-page h5 {
    padding-top: 3.65rem;
    padding-bottom: 3.15rem;
  }
}
.body .employers-page #company-inf, .body .employers-page #job-detail {
  padding-bottom: 1rem;
}
.body .employers-page #additional-information {
  min-height: 8.75rem;
  resize: none;
  color: #828282;
  border: solid 1px #e5e5e5;
}
.body .employers-page .custom-control.custom-checkbox {
  margin: 0.5rem 0;
}
.body .employers-page .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: initial;
  border: #bebebe solid 1px;
  border-radius: 2px;
}
.body .employers-page .custom-control-label:hover {
  color: #a2171c;
}
.body .employers-page .custom-control-label {
  margin-left: 1rem;
}
.body .employers-page .custom-control-label::before {
  background-color: initial;
  border: #bebebe solid 1px;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  top: 0.1rem;
}
.body .employers-page .custom-control-label::after {
  height: 20px;
  width: 20px;
  top: 0.1rem;
}
.body .employers-page .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #a2171c;
}
.body .employers-page button {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .body .employers-page button {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .body .employers-page {
    background: url(../img/bg-employers-mobile.png) no-repeat 100% 0;
    background-size: cover;
    padding: 0 1rem 4.357rem;
  }
  .body .employers-page #job-detail {
    margin-top: 1.5rem;
  }
}
.body .site-signup {
    margin-top: 6rem;
    padding: 3rem 0;
}

.footer {
  line-height: 1.64;
}
.footer .info {
  background-color: #eeeeee;
  font-size: 14px;
  padding: 2.5rem 0;
  color: #333333;
}
.footer .info a {
  text-decoration: none;
  color: #333333;
}
.footer .info h5 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
.footer .info .navigate .navigate-left {
  float: left;
}
.footer .info .navigate .navigate-right {
  margin-left: 10rem;
}
.footer .info .navigate .navigate-right a {
  padding-left: 5.5rem;
}
.footer .info .navigate .navigate-hover a:hover {
  color: #a2171c;
}
.footer .info .link-our {
  color: #ffffff;
  width: 12rem;
  height: 2.5rem;
  border-radius: 10rem;
  background-color: #333333;
  margin: 0;
}
.footer .info .link-our:hover {
  background-color: #828282;
}
.footer .info .link-our a {
  margin: auto 0 auto 2rem;
  color: #ffffff;
}
.footer .copyright {
  background-color: #dcdcdc;
  font-size: 12px;
  color: #333333;
  padding: 1rem 0;
}
.footer .copyright #privacy-statement {
  float: right;
}
.footer .copyright #privacy-statement a {
  color: #333333;
  text-decoration: none;
}
.footer .copyright #privacy-statement a:hover {
  color: #a2171c;
}
@media (max-width: 767px) {
  .footer .info {
    padding: 2.5rem 1rem;
    font-size: 16px;
  }
  .footer .info h5 {
    font-size: 16px;
  }
  .footer .info .navigate {
    padding: 1.5rem 0;
  }
  .footer .info .link-our {
    width: auto;
    height: 40px;
  }
  .footer .copyright {
    text-align: center;
    padding: 1rem 3rem;
  }
  .footer .copyright #privacy-statement {
    margin-top: 1.5rem;
    float: unset;
  }
}

/*# sourceMappingURL=main.css.map */
